
/* Estilos - Styles */
.cuadricula-grid {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.cuadricula-grid div {
    width: 20px;
    height: 20px;
}

.invasor-invader {
    background-color: purple;
    border-radius: 10px;
}

.tirador-shooter {
    background-color: green;
}

.laser {
    background-color: orange;
}

.boom {
    background-color: red;
}
