
/* Estilos - Styles */
.cuadricula-grid {
    border: 1px solid;
    height: 120px;
    width: 140px;
    display: flex;
    flex-wrap: wrap;
}

.cuadricula-grid div {
    height: 20px;
    width: 20px;
}

.jugadorUno-playerOne {
    background-color: red;
    border-radius: 10px;
}

.jugadorDos-playerTwo {
    background-color: blue;
    border-radius: 10px;
}
