
/* Estilos - Styles */
.cuadricula {
    border: 1px solid black;
    height: 180px;
    width: 180px;
    display: flex;
    flex-wrap: wrap;
}

.cuadricula div {
    height: 20px;
    width: 20px;
}

.bloque-final {
    background-color: red;
}

.bloque-inicio {
    background-color: blue;
}

.l1, .l2, .l3 {
    background-color: brown;
}

.l4, .l5 {
    background-color: lightblue;
}

.c1 {
    background-color: black;
}

.c2, .c3 {
    background-color: lightgrey;
}

.rana {
    background-color: green;
}
